name: Test

on:
  push:
    branches-ignore:
      - main
  workflow_dispatch: {}

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        ruby: [ "3.4" ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
        
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
          
      - name: Lint
        run: bundle exec rubocop
  test:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Set up Docker Compose and dependencies
      run: bash .github/scripts/setup.sh
    
    - name: Clear bundle cache
      run: rm -rf vendor/bundle
    
    - name: Build and start services
      run: make up
    
    - name: Run tests
      run: bash .github/scripts/test.sh
    
    - name: Clean up
      if: always()
      run: make down

  notify_on_failure:
    if: failure()
    needs: [lint, test]
    uses: tulibraries/.github/.github/workflows/slack-notify.yml@main
    with:
      repo: ${{ github.repository }}
      run_id: ${{ github.run_id }}
      workflow: ${{ github.workflow }}
    secrets: inherit
